{% extends 'base.html' %}
{% load static %}

{% block title %}About ERKATA{% endblock title %}
{% block content %}
<div class="section-title" data-aos="zoom-in" data-aos-duration="800">
<span class="title">About Us</span>
</div>
<section class="about section-padding" id="about">
<div class="container">
<div class="grid">
<div class="about-img">
<div class="img-box" data-aos="zoom-in" data-aos-duration="1000">
<img src="{% static 'img/about-img.png' %}" alt="about-img" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="100">
<div class="box box-1">
<span>2.5k</span>
<p>
satisfying clients
</p>
</div>
</div>
</div>
<div class="about-text" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="150">
<div class="section-title">
<h2 class="sub-title">we are cleaning 🧼 everything !</h2>
</div>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dignissimos sit placeat a laborum officiis alias eligendi consectetur consequuntur, dolores!
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore veniam maiores ipsa corrupti obcaecati ad? Voluptatibus laudantium maxime, similique eius.
</p>
</div>
</div>
</div>
</section>
<section class="about section-padding" id="about">
<div class="container" >
<div class="grid">
  <div class="about-img">
<div class="img-box" data-aos="zoom-in" data-aos-duration="1000">
<img src="{% static 'img/about3.png' %}" alt="about-img" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300">
<div class="box box-1">
<span>2.5k</span>
<p>
satisfying clients
</p>
</div>
</div>
</div>
<div class="about-text" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="150">
<div class="section-title">
<h2 class="sub-title">we are cleaning 🧼 everything !</h2>
</div>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dignissimos sit placeat a laborum officiis alias eligendi consectetur consequuntur, dolores!
</p>
<p>
moo ipsum dolor sit amet, consectetur adipisicing elit. Labore veniam maiores ipsa corrupti obcaecati ad? Voluptatibus laudantium maxime, similique eius.
</p>
</div>
</div>
</div>
</section>
<section class="about section-padding" id="about">
<div class="container" >
<div class="grid">
  <div class="about-img">
<div class="img-box" data-aos="zoom-in" data-aos-duration="1000">
<img src="{% static 'img/about4.png' %}" alt="about-img" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300">
<div class="box box-1">
<span>2.5k</span>
<p>
satisfying clients
</p>
</div>
</div>
</div>
<div class="about-text" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="150">
<div class="section-title">
<h2 class="sub-title">we are cleaning 🧼 everything !</h2>
</div>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dignissimos sit placeat a laborum officiis alias eligendi consectetur consequuntur, dolores!
</p>
<p>
moo ipsum dolor sit amet, consectetur adipisicing elit. Labore veniam maiores ipsa corrupti obcaecati ad? Voluptatibus laudantium maxime, similique eius.
</p>
</div>
</div>
</div>
</section>
<section class="about section-padding" id="about">
<div class="container" >
<div class="grid">
  <div class="about-img">
<div class="img-box" data-aos="zoom-in" data-aos-duration="1000">
<img src="{% static 'img/about2.png' %}" alt="about-img" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300">
<div class="box box-1">
<span>2.5k</span>
<p>
satisfying clients
</p>
</div>
</div>
</div>
<div class="about-text" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="150">
<div class="section-title">
<h2 class="sub-title">we are cleaning 🧼 everything !</h2>
</div>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dignissimos sit placeat a laborum officiis alias eligendi consectetur consequuntur, dolores!
</p>
<p>
moo ipsum dolor sit amet, consectetur adipisicing elit. Labore veniam maiores ipsa corrupti obcaecati ad? Voluptatibus laudantium maxime, similique eius.
</p>
</div>
</div>
</div>
</section>
<script>
  const search = document.getElementById("search");
const productName = document.querySelectorAll(".about-text p");
// A BETTER WAY TO FILTER THROUGH THE
search.addEventListener("keyup", filterProducts);
function filterProducts(e) {
  const text = e.target.value.toLowerCase();
  //console.log(productName[0]);
  productName.forEach(function(product) {
    const item = product.firstChild.textContent;
    if (item.toLowerCase().indexOf(text) != -1) {
      product.parentElement.parentElement.style.display = "block"
      product.parentElement.parentElement.style.padding = "1px 1% 5% 5%"
      product.parentElement.parentElement.style.borderRadius= "30px"
      
      product.parentElement.parentElement.style.background = "linear-gradient(#00ccff68, transparent)"
    } else {
      product.parentElement.parentElement.style.display = "none"

    }
  })

}
</script>
{% endblock content %}