{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Us{% endblock title %}
{% block content %}
<section class="contact section-padding" id="contact">
<div class="container">
<div class="section-title">
<span class="title" data-aos="fade-left" data-aos-duration="1000">contact</span>
<h2 class="sub-title" data-aos="fade-right" data-aos-duration="1000">contact us here</h2>
</div>
<div class="grid contact-grid">
<div class="contact-info">
<div class="contact-info-item" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="100">
<i class="fas fa-map-marker-alt"></i>
<h3>Address</h3>
<p>
block3, sec-45, serita
</p>
</div>
<div class="contact-info-item" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">
<i class="fas fa-phone"></i>
<h3>call us</h3>
<p>
093 383 398 ***
</p>
</div>
<div class="contact-info-item" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
<i class="fas fa-envelope"></i>
<h3>Email us</h3>
<p>
info@gmail.com
</p>
</div>
</div>
<div class="contact-form">
<form action="" method="POST">
  {% csrf_token %}
<div class="input-box" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
<input type="text" name="Name" class="input-control" placeholder="Full Name" required>
</div>
<div class="input-box" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200">
<input type="text" name="Email" class="input-control" placeholder="Email" required>
</div>
<div class="input-box" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300">
<input type="text" class="input-control" placeholder="Phone" name="Phone" required="">
</div>
<div class="input-box" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="400">
<textarea name="Message" id="" cols="30" rows="10" placeholder="message..." class="input-control" required></textarea>
</div>
<div class="btn-wrap">
<button type="submit" class="btn" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">Send Message</button>
</div>
</form>
</div>
</div>
</div>
</section>
<style>
  .icon {
    display: none;
  }
  .sub{
    transform: scale(0);
  }
</style>
{% endblock content %}