{% extends 'base.html' %}
{% load static %}
{% block title %}services of ERKATA{% endblock title %}
{% block content %}
<section class="services section-padding" id="services">
<div class="container">
  <div class="btns">
    <a href="#1"><button class="btn" >service 1</button></a>
    <a href="#2"><button class="btn" >service 2</button></a>
    <a href="#3"><button class="btn" >service 3</button></a>
    <a href="#4"><button class="btn" >service 4</button></a>
    <a href="#5"><button class="btn" >service 5</button></a>
    </div>
<div class="section-title">
<span class="title" data-aos="fade-right" data-aos-duration="1000">
services
</span>
<h2 class="sub-title" data-aos="fade-left" data-aos-duration="1000">what we do</h2>
</div>
<div class="grids">
<div class="services-item" data-aos="fade-down" data-aos-duration="1000" id="1">
<div class="img-box">
<img src="{% static 'img/service/house.jpg' %}" alt="house">
</div>

<div class="content">
  <h3>carpet cleaning</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos repellendus accusantium provident modi nam consectetur, suscipit optio vitae veritatis facilis molestias dicta ea unde veniam nihil, perferendis asperiores, iste autem!</p>
</div>
</div>
<div class="services-item" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200" id="2">
<div class="img-box" >
<img src="{% static 'img/service/window.jpg' %}" alt="window">
</div>
<div class="content">
  <h3>carpet cleaning</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos repellendus accusantium provident modi nam consectetur, suscipit optio vitae veritatis facilis molestias dicta ea unde veniam nihil, perferendis asperiores, iste autem!</p>
  {% for i in id %}
  {{i}}
  {% endfor %}
</div>
</div>
<div class="services-item" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300" id="3">
<div class="img-box">
<img src="{% static 'img/service/bathroom.jpg' %}" alt="house">
</div>
<div class="content">
  <h3>carpet cleaning</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos repellendus accusantium provident modi nam consectetur, suscipit optio vitae veritatis facilis molestias dicta ea unde veniam nihil, perferendis asperiores, iste autem!</p>
</div>
</div>
<div class="services-item" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="400" id="4">
<div class="img-box">
<img src="{% static 'img/service/furniture.png' %}" alt="furniture">
</div>
<div class="content">
  <h3>carpet cleaning</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos repellendus accusantium provident modi nam consectetur, suscipit optio vitae veritatis facilis molestias dicta ea unde veniam nihil, perferendis asperiores, iste autem!</p>
</div>
</div>
</div>
</div>
</section>

<script>
  const search = document.getElementById("search");
 const productName = document.querySelectorAll(".services-item h3");
const btn = document.querySelector(".btns");

// A BETTER WAY TO FILTER THROUGH THE
search.addEventListener("keyup", filterProducts);
function filterProducts(e) {
  const text = e.target.value.toLowerCase();
  // console.log(productName[0]);
  productName.forEach(function(product) {
    const item = product.firstChild.textContent;
    if (item.toLowerCase().indexOf(text) != -1) {
      product.parentElement.parentElement.style.display = "block"
    } else {
      product.parentElement.parentElement.style.display = "none"

    }
  })

}
</script>
{% endblock content %}