{% extends 'base.html' %}
{% load static %}

{% block title %}Team of ERKATA{% endblock title %}
{% block content %}
<section class="team section-padding" id="team">
<div class="container">
<div class="section-title">
<span class="title" data-aos="fade-left" data-aos-duration="1000">team</span>
<h2 class="sub-title" data-aos="fade-right" data-aos-duration="1000">meet our team</h2>
</div>
<div class="grid">
<div class="team-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="100">
<div class="img-box">
<img src="{% static 'img/team/1.png' %}" alt="img">
</div>
<div class="detail">
<h3>jin lauris</h3>
<p>
team leader
</p>
</div>
<p class="explain">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut illo nemo explicabo architecto, nesciunt sapiente perspiciatis deserunt et laborum, officiis aliquam non corporis eos quia possimus illum tempore eum obcaecati!</p>
</div>
<div class="team-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200">
<div class="img-box">
<img src="{% static 'img/team/2.png' %}" alt="img">
</div>
<div class="detail">
<h3>lisa duke</h3>
<p>
car leader
</p>
</div>
<p class="explain">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut illo nemo explicabo architecto, nesciunt sapiente perspiciatis deserunt et laborum, officiis aliquam non corporis eos quia possimus illum tempore eum obcaecati!</p>
</div>
<div class="team-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300">
<div class="img-box">
<img src="{% static 'img/team/3.png' %}" alt="img">
</div>
<div class="detail">
<h3>john joe</h3>
<p>
ful cleaner
</p>
</div>
<p class="explain">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut illo nemo explicabo architecto, nesciunt sapiente perspiciatis deserunt et laborum, officiis aliquam non corporis eos quia possimus illum tempore eum obcaecati!</p>
</div>
</div>
</div>
</section>

<script>
  const search = document.getElementById("search");
const productName = document.querySelectorAll(".team-item h3");
// A BETTER WAY TO FILTER THROUGH THE
search.addEventListener("keyup", filterProducts);
function filterProducts(e) {
  const text = e.target.value.toLowerCase();
  // console.log(productName[0]);
  productName.forEach(function(product) {
    const item = product.firstChild.textContent;
    if (item.toLowerCase().indexOf(text) != -1) {
      product.parentElement.parentElement.style.display = "block"
    } else {
      product.parentElement.parentElement.style.display = "none"

    }
  })

}
</script>
{% endblock content %}