.style-switcher {
  position: fixed;
  top:5px;
  right: 4.5%;
  z-index: 2;
  transition: all 0.7s ease;
  cursor: pointer;
}
@media screen and (max-width:890px) {
  .style-switcher {
  position:fixed;
  top:95%;
  right: 7%;
  z-index: 2;
  transition: all 0.7s ease;
  cursor: pointer;
}
}
@media screen and (max-width:600px) {
  .style-switcher {
  position:fixed;
  top:95%;
  right: 10%;
  z-index: 2;
  transition: all 0.7s ease
cursor: pointer;
}
}
.form-switcher label{
  width: 35px;
  height: 35px;
  position: relative;
}
.moon{
   position: absolute;
  top:0;
  left:0;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  z-index: 100;
  cursor: pointer;
  box-shadow: 0px 0px 20px #02243f;
  background-color: #02243fd3;
  background-image: url('https://assets.codepen.io/1462889/moon.svg');
  background-size: 17px 17px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(360deg);
  transition: all 400ms linear;
}
.sun {
   position: absolute;
  top:0;
  left:0;
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
  width: 35px;
  height: 35px;
  box-shadow: 0px 0px 30px #f6a209b1;
  background-color: #0684ddb9;
  background-image: url('https://assets.codepen.io/1462889/sun.svg');
  background-size: 17px 17px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-360deg);
  transition: all 300ms linear;
}
.dark-mode {
  background-color: #00181ef2;
}
.color {
  color:white;
}