@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');

:root {
  --hue: 200;
  --saturation: 70%;
  --lightness: 55%;
  --main-color: hsl(var(--hue), var(--saturation), var(--lightness));

  --text-white: hsl(0, 0%, 100%);
  --text-light-gray: hsl(0, 0%, 96%);
  --text-x-dark-gray: hsl(0, 0%, 10%);
  --text-dark-gray: hsl(0, 0%, 20%);

  --body-bg-color: hsl(var(--hue), 60%, 94%);
  --bg-color: hsl(var(--hue), 60%, 96%, 0.95);
  --bg-white: hsl(0, 0%, 100%);

  --border-color: hsl(var(--hue), 48%, 80%);

  --shadow: 0px 5px 10px hsl(var(--hue), 57%, 63%, 0.7);
  --focus-shadow: 0 0 10px hsl(var(--hue), 57%, 63%, 0.6);

  --fs-4xl: 50px;
  --fs-3xl: 35px;
  --fs-2xl: 26px;
  --fs-xl: 20px;
  --fs-lg: 18px;
  --fs-md: 16px;
  --fs-sm: 14px;

}

/* override variables for dark theme */

.t-dark {
  --hue: 200;
  --saturation: 70%;
  --lightness: 55%;
  --main-color: hsl(var(--hue), var(--saturation), var(--lightness));

  --text-white: hsl(0, 0%, 100%);
  --text-light-gray: hsl(0, 0%, 96%);

  /* text colors */
  --text-x-dark-gray: hsl(0, 0%, 94%):
  --text-dark-gray: hsl(0, 0%, 84%);
  /* bg colors */
  --body-bg-color: hsl(var(--hue), 20%, 10%);
  --bg-color: hsl(var(--hue), 13%, 17%);
  /* border color */
  --border-color: hsl(var(--hue), 15%, 30%);
  /*shadow */
  --shadow: 0 0 10px hsl(var(--hue), 19%, 63%, 0. 3);

  color: white;
}
.t-dark::placeholder {
  color: white;
  opacity: 1;
}
html {
  scroll-behavior: smooth;
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  color: var(--text-x-dark-gray);
  line-height: 1.3;
}
p {
  margin-bottom: 15px;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
::before,
::after {
  box-sizing: border-box;
}
::selection {
  color: var(--text-white);
  background-color: var(--main-color);
}
::webkit-scrollbar {
  width: 5px;
}
::webkit-scrollbar-track {
  background-color: var(--body-bg-color);
}
::webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
body {
  
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: var(--fs-md);
  line-height: 1.5;
  color: var(--text-dark-gray);
  background-color: var(--body-bg-color);
  -webkit-text-size-adjust: 100%;
  -webkit-top-highlight-color: transparent;
  transition: all 200ms linear;
}
a {
  color: var(--main-color);
  text-decoration: none;
}
ul {
  list-style: none;
  font-size: var(--fs-xl);
  font-weight: 500;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader.fade-out {
  opacity: 0;
  transition: opacity 1.5s ease;
}
.preloader .load {
  position: relative;
  top: 0;
  left: 25px;
  transform: translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width: 50px;
  height: 50px;
}
.load hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

.load :first-child {
  background: #16aaab;
  animation-delay: -1.5s
}
.load :nth-child(2) {
  background: #00b0ff;
  animation-delay: -1s
}
.load :nth-child(3) {
  background: #00a3ff;
  animation-delay: -0.5s
}
.load :last-child {
  background: #008fff;
}

@keyframes spin {
  0%,100% {
    transform: translate(0)
  }
  25% {
    transform: translate(160%)
  }
  50% {
    transform: translate(160%, 160%)
  }
  75% {
    transform: translate(0, 160%)
  }
}


.page-wrapper {
  overflow: hidden;
}
.container {
  max-width: 90%;
  margin: auto;
  padding: 0 15px;

}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  box-shadow: var(--shadow);
  z-index: -1;
  transform: translateY(calc(-100% - 10px));
  transition: transform 0.5s ease-in-out;
}
.header.bg-reveal::before {
  transform: translateY(0);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header .logo a {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  color: hsl(200, 70%, 55%);
  text-decoration: none;
  line-height: 1;
  display: block;
  transform: scale(0.9);
  letter-spacing: 2px;
}
.header .logo a > img {
  width: 120px;
  height: 90px;
}
.header .logo span {
  font-size: 13px;
  display: block;
  font-weight: 400;
  color: var(--text-x-dark-gray);
  letter-spacing: 2px;
}
.nav li {
  display: inline-block;
  margin-left: 35px;
}
.nav a {
  text-transform: capitalize;
  font-size: var(--fs-lg);
  color: var(--text-x-dark-gray);
  display: block;
  padding: 10px 0;
  transition: all 0.3s ease;
}
.nav a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
.nav-toggler {
  display: none;
}

/* home */

.home {
  padding: 100px 0 60px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

.home-text,
.home-img {
  grid-column: span 6;
  align-self: center;
}
.home-text h1 {
  font-size: var(--fs-4xl);
  margin: 0 0 20px;
  text-transform: capitalize;
}
.home-text p {
  font-size: var(--fs-sm);
  margin: 0 0 30px;
}
button {
  cursor: pointer;
}
.btn {
  display: inline-block;
  padding: 10px 28px;
  background-color: var(--main-color);
  color: var(--text-white);
  font-weight: 500;
  font-family: inherit;
  text-transform: capitalize;
  border: 2px solid transparent;
  border-radius: 30px;
  vertical-align: middle;
  user-select: none;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: transparent;
  border-color: var(--main-color);
  color: var(--main-color);
}
.home-img {
  position: relative;
}
.home-img .circle-wrap {
  position: absolute;
  top: 50%;
  left: 42%;
  z-index: -1;
}
.home-img .circle {
  width: 330px;
  height: 330px;
  background-color: var(--main-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.home-img img {
  max-width: 250px;
  display: block;
  transform: translateX(-45%);
  margin: auto;
}
/* About */
.about {
  padding: 100px 0 60px;
}
.about-img,
.about-text {
  grid-column: span 6;
  align-self: center;
}
.about-img {
  margin: 10% 0;
}
.about-img .img-box {
  max-width: 400px;
  margin: auto;
  padding: 15px;
  border-radius: 50%;
  background-color: var(--bg-color);
  box-shadow: var(--shadow);
  position: relative;
}
.about-img .img-box img {
  border-radius: 50%;
}
.about-img .box {
  height: 125px;
  width: 125px;
  background-color: var(--main-color);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0 40px;
}
.about-img .box-1 {
  top: 50%;
  left: 3%;
  transform: translate(-50%, -50%);
}
.about-img .box span {
  color: var(--text-white);
  font-weight: bold;
  font-size: var(--fs-3xl);
  margin: 0 0 5px;
}
.about-img .box p {
  font-size: var(--fs-sm);
  text-transform: uppercase;
  color: var(--text-light-gray);
  margin: 0;
}
.about .section-title {
  text-align: left;
  margin: 0 0 15px;
}

.section-padding {
  padding: 60px 0;
}
.section-title {
  text-align: center;
  margin-bottom: 45px;
  width: 100%;
}
.section-title .title {
  text-align: center;
  display: inline-block;
  font-size: var(--fs-3xl);
  font-weight: 500;
  color: var(--main-color);
  text-transform: capitalize;
  margin: 5% 0 0 0;
  padding: 0 40px;
  position: relative;
}
.section-title .title::before,
.section-title .title::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 44px;
  height: 3px;
  margin: 0 -7px;
  background-color: var(--main-color);
  transform: translateY(-50%);
}
.section-title .title::before {
  left: 0;
}
.section-title .title::after {
  right: 0;
}
.section-title .sub-title {
  font-size: var(--fs-3xl);
  text-transform: capitalize;
}

/*services*/
.services-item {
  grid-column: span 3;
  text-align: center;
  align-items: center;
  border: 3px solid var(--border-color);
  box-shadow: var(--shadow), inset 0 0 10px var(--main-color);
  margin: 5% 0;
  border-radius: 30px;
}
.services-item .img-box {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  margin: 0 auto 20px;
  box-shadow: var(--shadow);
  background-color: var(--bg-color);
  padding: 8px;
  overflow: hidden;
}
.services-item .img-box img {
  border-radius: 50%;
  transition: transform 0.9s ease;
}
.services-item:hover .img-box img {
  transform: scale(1.5);
}
.services-item .content h3 {
  text-transform: capitalize;
  font-size: var(--fs-2xl);
  font-weight: 500;
  margin: 2% 0;
  border-bottom: 3px solid var(--main-color);
}
.services-item .content {
  width: 100%;
  padding: 2% 10%;
  text-align: center;
  margin: 0;
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow);
  border-radius: 30px;
}
.btns {
  align-self: center;
  width: 100%;
  margin: auto;
  display:flex;
 justify-content: center;
 align-items: center;
 gap:10px
}
.btns .btn {
  width: 100%;
  height: 50px;
  margin: 10px 0 0 30px;
}

/*price*/

.pricing-item {
  grid-column: span 4;
  align-items: center;
  background-color: var(--bg-color);
  box-shadow: var(--shadow);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  transition: all .5s ease;
}
.pricing-header h3 {
  text-transform: capitalize;
  margin: 0 0 20px;
  font-size: var(--fs-2xl);
  font-weight: 600;
}
.pricing-header .price {
  height: 140px;
  width: 140px;
  box-shadow: inset var(--shadow);
  margin: auto;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-sm);
  text-transform: capitalize;

}
.pricing-item:hover {
  background-image: linear-gradient(to bottom, var(--main-color), transparent);
  transform: scale(1.1);
}
.pricing-item:hover .price {
  box-shadow: 0 0 30px #ffffff,
  inset 0 0 10px #066b84;
  color: #00000;
  font-weight: 600;
}
.pricing-item:hover .price span {
  color: var(--text-light-gray);
}
.pricing-header .price span {
  font-size: var(--fs-3xl);
  font-weight: bold;
  color: var(--main-color);
  line-height: 1.3;
}
.pricing-body {
  padding: 50px 0;
  text-align: left;
}
.pricing-body li {
  text-transform: capitalize;
  position: relative;
  padding-left: 27px;
}
.pricing-body li+li {
  margin-top: 10px;
}
.pricing-body li i {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: var(--fs-sm);
}

/* team*/

.team-item {
  grid-column: span 4;
}
.team-item .img-box {
  max-width: 350px;
  box-shadow: var(--shadow);
  background-color: var(--bg-color);
  margin: auto;
  border-radius: 50%;
  padding: 15px;
}
.team-item img {
  border-radius: 50%;
  transform: filter 0.5s ease;
}
.team-item:hover img {
  filter: grayscale(50%);
}
.team-item .detail {
  width: 85%;
  background-color: var(--main-color);
  max-width: 260px;
  padding: 15px;
  margin: -42px auto 0;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  border-radius: 0 40px;
  transition: border-radius .5s ease;
}
.team-item:hover .detail {
  border-radius: 40px 0;
}
.team-item h3 {
  margin: 0 0 5px;
  color: var(--text-white);
  font-size: var(--fs-xl);
  font-weight: 500;
}
.team-item .detail p {
  margin: 5% 0 0 0;
  color: var(--text-light-gray);
}
.explain{
  font-weight: 500;
  margin:5%;
  padding: 30px;
  background-image: linear-gradient(-45deg, var(--bg-color), var(--main-color));
  border:2px solid var(--border-color);
  border-radius: 20px 60px;
  color: var(--text-x-dark-gray);
}

/* contact */

.sub {
  margin-top: auto;
}
.contact-grid {
  max-width: 1000px;
  margin: auto;
}
.contact-info {
  grid-column: span 5;
}
.contact-form {
  grid-column: span 7;
}
.contact-info-item {
  position: relative;
  padding: 20px 0 20px 70px;
}
.contact-info-item + .contact-info-item {
  margin-top: 20px;
  border-top: 1px solid var(--border-color);
}
.contact-info-item i {
  height: 50px;
  width: 50px;
  background-color: var(--bg-color);
  box-shadow: var(--shadow);
  color: var(--main-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 20px;
}
.contact-info-item h3 {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: var(--fs-xl);
  text-transform: capitalize;
}
.contact-info-item p:last-child {
  margin: 0;
}

/* form */

.input-box {
  margin-bottom: 20px;
}
::placeholder {
  color: var(--text-dark-gray);
  opacity: 1;
}
.input-control {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: 1.7px solid var(--border-color);
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: var(--text-x-dark-gray);
  padding: 0 20px;
  position: relative;
}
textarea.input-control {
  height: 150px;
  display: block;
  resize: none;
  padding-top: 15px;
}
select.input-control {
  padding: 0 30px;
  appearance: none;
}

/* video */
.vid {
  width:100%;
  overflow: hidden;
  padding: 3% 0;
  align-items: center;
}
.video video, .iframe iframe {
  width:100%;
  height: 100%;
  border-radius: 10px;
}
.video {
  grid-column: span 4;
}

/* footer */
.footer {
  margin-top: auto;
  padding: 20px 10px 20px 20px;
  background-coLor: var(--main-color);
  text-align: center;
}
.info {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items:center ;
  justify-content: space-around;
}
.info div {
  margin: 0 10px;
}
.info h4 {
  color: var(--text-white);
  font-size: var(--fs-xl);
  margin: 0 0 15px;
  font-weight: 300;
  text-transform: capitalize;
}
.info p, .info a {
  font-size: var(--fs-md);
  font-weight: 500;
  color: var(--text-dark-gray);
}
.contain {
  max-width: 100%;
  margin-top: auto;
  padding: 1%;
  text-align: center;

}
.footer h3 {
  color: var(--text-white);
  font-size: var(--fs-2xl);
  margin: 0 0 15px;
  font-weight: 500;
  text-transform: capitalize;
}
.footer .social-links a {
  height: 40px;
  width: 40px;
  dispLay: inline-flex;
  background-coLor: var(--bg-white);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
  border: 1px solid transparent;
  transition: all 0.5s ease;
}
.footer .social-links a i {
  color: var(--main-color);
}
.footer .social-links a:hover {
  background-color: transparent;
  color: var(--text-white);
  border-color: initial;
}
.footer .social-links a:hover i {
  color: var(--text-white);
}

@media(max-width:1199px) {
  .about-img .box-1 {
    top: 100%;
    left: 50%;
  }
}
@media(max-width:991px) {
:root {
  --fs-4xl: 42px;
  --fs-3xl: 31px;
  --fs-2xl: 24px;
}
  .home-img img {
    max-width: 230px;
    transform: translateX(-30%);
  }
  .home-img .circle {
    width: 270px;
    height: 270px;
  }
  .services-item .img-box {
    height: 120px;
    width: 120px;
  }
  .pricing-item {
    grid-column: span 6;
  }
  .pricing-header .price {
    height: 130px;
    width: 130px;
  }
  .team-item {
    grid-column: span 6;
  }

}

@media(max-width:890px) {
:root {
  --fs-4xl: 35px;
  --fs-3xl: 26px;
  --fs-2xl: 22px;
  --fs-xl: 18px;
}
  .nav-toggler {
    dispLay: block;
    height: 34px;
    width: 40px;
    border: none;
    background: transparent;
    z-index: 1;
  }
  .nav-toggler span {
    display: block;
    height: 2px;
    width: 24px;
    background-color: var(--main-color);
    margin: auto;
    position: relative;
    transition: background-color 0.3s ease;
  }
  .nav-toggler.active span {
    background-color: transparent;
  }
  .nav-toggler span::before,
  .nav-toggler span::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    transition: transform 0.3s ease;
  }
  .nav-toggler span::before {
    transform: translateY(-7px);
  }
  .nav-toggler.active span::before {
    transform: rotate(45deg);
  }
  .nav-toggler span::after {
    transform: translateY(7px);
  }
  .nav-toggler.active span::after {
    transform: rotate(-45deg);
  }

  .nav {
    position: absolute;
    top: 0;
    right: -10%;
    height: 100vh;
    width: 260px;
    background-color: var(--bg-color);
    padding: 60px 10px 30px;
    overflow-y: auto;
    transform: translateX(100%);
    transition: all 0.3s ease;
  }
  .nav.open {
    right: -30px;
    transform: translateX(0);
    box-shadow: var(--shadow);
  }
  .nav li {
    display: block;
    margin: 0;
  }
  .nav a {
    font-size: var(--fs-lg);
  }
  .header .logo a > img {
  width: 100px;
  height: 80px;
}
  .nav li + li {
    border-top: 1px solid var(--border-color);
  }
  .home-text,
  .home-img {
    grid-column: span 6;
  }
  .home-img {
    order: 1;
    margin-bottom: 20px;
  }
  .home-img img {
    max-width: 150px;
    transform: translateX(-30%);
  }
  .home-img .circle {
    width: 220px;
    height: 220px;
  }
  .about-img,
  .about-text {
    grid-column: span 12;
  }
  .about-text {
    order: 1;
  }
  .about-img {
    margin: 10% 0;
  }
  .about-img .box {
    height: 115px;
    width: 115px;
  }

  .section-title .title {
    margin-top: 10%;
  }
  .pricing-item {
    align-items: center;
    background-color: var(--bg-color);
    box-shadow: var(--shadow);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    transition: all .5s ease;
  }
  .pricing-header .price {
    height: 120px;
    width: 120px;
  }
  .contact-info,
  .contact-form {
    grid-column: span 12;
  }

.btns {
  overflow-y: scroll;
}
.info{
  display: block;
  text-align: center;
}
}


@media screen and (max-width:767px) {
  .home-text,
  .home-img {
    grid-column: span 12;
  }
  .home-img {
    order: -1;
    margin-bottom: 20px;
  }
  .home-img img {
    max-width: 200px;
    transform: translateX(-30%);
  }
  .home-img .circle {
    width: 250px;
    height: 250px;

  }
  .pricing-item {
    grid-column: span 12;
  }
  .team-item {
    grid-column: span 12;
  }
  .services-item {
    grid-column: snap 6;
  }
.btns {
  overflow-y: scroll;
}
}
@media(max-width:600px) {
  .grid {
    gap: 30px 15px;
  }
  .home-img img {
    max-width: 200px;
    transform: translateX(-30%);
  }
  .home-img .circle {
    width: 240px;
    height: 240px;
  }
}
