{% extends 'base.html' %}
{% block title %}Mail{% endblock title %}
{% load static %}
{% block content %}
 
<section class="contact section-padding" id="contact">
<div class="container">
<div class="section-title">
<span class="title" data-aos="fade-left" data-aos-duration="1000">Email sender</span>
<h2 class="sub-title" data-aos="fade-right" data-aos-duration="1000">Write message for the Email</h2>
</div>
<form action="" method="POST" data-aos="zoom-in" data-aos-duration="1000">
  {% csrf_token %}
  <input type="text" name="subject" placeholder="Subject*" class="input-control" required>
  <textarea name="msg" id="msg" placeholder="Message...*" required></textarea>
  <div class="btn-wrap">
<button type="submit" class="btn">Send Message</button>
</div>
</form>
</div>
</div>
{% if messages %}
    {% for message in messages %}
    <section data-aos="zoom-in" data-aos-duration="700" {% if message.tags %} class="{{ message.tags }} msg" {% else %}class="msg" {% endif %}>
    <h5>{{ message }}</h5>
    {% endfor %}
    {% endif %}
</section>
</section>
<style>
  .msg {
    width:80%;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin-top: 2%;
    margin-left: 10%;
    text-transform: uppercase;
    border-radius: 10px;
  }
  .error {
    background-color: #ff002156;
  }
  .success {
    background-color: #00ff3e71;
  }
  .icon {
    display: none;
  }
  .sub {
    transform: scale(0);
  }
  textarea {
  width: 100%;
  height: 400px;
  display: block;
  resize: none;
  border-radius: 25px;
  border: 1.7px solid var(--border-color);
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: var(--text-x-dark-gray);
  margin: 50px 0;
  padding: 15px;
  }
</style>
{% endblock content %}