{% extends 'base.html' %}
{% load static %}
{% block title %}prices of ERKATA{% endblock title %}
{% block content %}
<section class="pricing section-padding" id="pricing">
<div class="container">
<div class="section-title">
<span class="title" data-aos="fade-left" data-aos-duration="1000">pricing</span>
<h2 class="sub-title" data-aos="fade-right" data-aos-duration="1000">Our pricing plans</h2>
</div>
<div class="grid">
<div class="pricing-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
<div class="pricing-header">
<h3>basic</h3>
<div class="price">
<span>$266</span> monthly
</div>
</div>
<div class="pricing-body">
<ul>
<li><i class="fas fa-check"></i> window cleaning</li>
<li><i class="fas fa-check"></i>carpet cleaning</li>
<li><i class="fas fa-times"></i>furniture cleaning</li>
<li><i class="fas fa-times"></i>car cleaning</li>
<li><i class="fas fa-times"></i>bathroom cleaning</li>
</ul>
</div>
<div class="pricing-footer">
<a href="" class="btn">get started</a>
</div>
</div>
<div class="pricing-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
<div class="pricing-header">
<h3>standard</h3>
<div class="price">
<span>$499</span> monthly
</div>
</div>
<div class="pricing-body">
<ul>
<li><i class="fas fa-check"></i> window cleaning</li>
<li><i class="fas fa-check"></i>carpet cleaning</li>
<li><i class="fas fa-check"></i>furniture cleaning</li>
<li><i class="fas fa-times"></i>car cleaning</li>
<li><i class="fas fa-times"></i>bathroom cleaning</li>
</ul>
</div>
<div class="pricing-footer">
<a href="" class="btn">get started</a>
</div>
</div>
<div class="pricing-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
<div class="pricing-header">
<h3>premium</h3>
<div class="price">
<span>$899</span> monthly
</div>
</div>
<div class="pricing-body">
<ul>
<li><i class="fas fa-check"></i> window cleaning</li>
<li><i class="fas fa-check"></i>carpet cleaning</li>
<li><i class="fas fa-check"></i>furniture cleaning</li>
<li><i class="fas fa-check"></i>car cleaning</li>
<li><i class="fas fa-check"></i>bathroom cleaning</li>
</ul>
</div>
<div class="pricing-footer">
<a href="" class="btn">get started</a>
</div>
</div>
</div>
</div>
</section>
<script>
  const search = document.getElementById("search");
const productName = document.querySelectorAll(".pricing-item h3");
// A BETTER WAY TO FILTER THROUGH THE
search.addEventListener("keyup", filterProducts);
function filterProducts(e) {
  const text = e.target.value.toLowerCase();
  // console.log(productName[0]);
  productName.forEach(function(product) {
    const item = product.firstChild.textContent;
    if (item.toLowerCase().indexOf(text) != -1) {
      product.parentElement.parentElement.style.display = "block"
    } else {
      product.parentElement.parentElement.style.display = "none"

    }
  })

}
</script>
{% endblock content %}